@charset "UTF-8";

/*
paleta de cores
verde: #49a09d
lilais:#5f2c82 
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color:#5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.465);
    transition: width 0.3s heigth 0.3s;
    transition-timing-function: ease;
}

section#login  div#imagem{
    display: block;
    background: #5f2c82 url(../imagens/pexels-jplenio-1103970.jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login div#formulario{
    padding: 10px;
    display: block;


}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82 ;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 5px 0px;
    text-align: center;
    padding: 10px;

}

div.campo > label{
display: none;
}



form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#49a09d ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #285655;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 7px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    color: #2d6462;
    background-color: white;
    border:  1px solid #34716f;
    border-radius: 7px;
    text-decoration: none;
    
    
}

form > a.botao:hover{
    background-color: #265150;

}